body {
  margin: 0;
  /*background image from public folder */
  background-image: url('../public/background.png');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 375px;
    height: 812px;
    top: 481px;
    left: 209px;
    gap: 0px;
    opacity: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo{  
    position: absolute;
    width: 186px;
    height: 32px;
    left: calc(50% - 186px/2 - 0.5px);
    top: 48px;
  
    opacity: 0.8;
}

.logo-main{
    position: absolute;
    width: 127.85px;
    height: 28px;
    left: calc(50% - 127.85px/2 - 0.08px);
    top: calc(50% - 28px/2);
}

.vector{
  
    position: absolute;
    width: 36.4px;
    height: 24px;
    left: 29px;
    bottom: 4px;
}
.text{
  
    position: absolute;
    width: 6px;
    height: 28px;
    left: 72px;
    top: 2px;
  
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
  
    color: #FFFFFF;
}

.text-layer {
  position: absolute;
  font-size: larger;
  width: 78.85px;
  height: 14.11px;
  left: 78px;
  top: 2px;
  color: #FAFAFA;
}
